@(loggedIn: Boolean)(implicit request: RequestHeader, messages: Messages)
@import securesocial.core.UsernamePasswordProvider
@import helper._
@import securesocial.core.UsernamePasswordProvider
@import play.api.Play.current
@implicitFieldConstructor = @{ FieldConstructor(auth.inputFieldConstructor.f(_)(messages)) }

@scripts = {
    <script src="@routes.Assets.at("js/content_index.js")"></script>
    <script src="@routes.Assets.at("js/signup.js")"></script>
}


@content._chrome("", scripts, loggedIn = loggedIn) {
    		<!-- Favicon -->
		<link rel="icon" type="image/png" sizes="56x56" href="https://cdn.flame.exchange/images/fav-icon/icon.png">

		<!-- Main style sheet -->
		<link rel="stylesheet" type="text/css" href="https://cdn.flame.exchange/css/style.css">
		<!-- responsive style sheet -->
		<link rel="stylesheet" type="text/css" href="https://cdn.flame.exchange/css/responsive.css">
		<!-- Color Css -->
        <link rel="stylesheet" type="text/css" href="https://cdn.flame.exchange/css/color-one.css">
        </head>
        <body>
        <!-- Hero unit -->
<div class="main-page-wrapper">

    <div class="html-top-content">
        <!-- ********************** Theme Top Banner & Header ************************ -->
        <div class="theme-top-section">
            <!-- ^^^^^^^^^^^^^^^^^ Theme Menu ^^^^^^^^^^^^^^^ -->
            <header class="theme-main-menu">
                <div class="container">
                    <div class="menu-wrapper clearfix">
                        <div class="logo"><a href="https://flame.exchange">Flame.Exchange</a></div>
                        
                        <ul class="right-widget celarfix">
                            <li>
                            <!--<div id="polyglotLanguageSwitcher">
                                    <form action="#">
                                        <select id="polyglot-language-options">
                                            <option id="en" value="en" selected>En</option>
                                            <option id="fr" value="fr">Fr</option>
                                            <option id="de" value="de">Ger</option>
                                            <option id="it" value="it">It</option>
                                            <option id="es" value="es">Sp</option>
                                        </select>
                                    </form>
                                </div> -->
                            </li>
				@if(!loggedIn){
                            <li class="login-button"><a href="login">Login <i class="flaticon-right-thin"></i></a></li>
				}
				@if(loggedIn){
				<li class="login-button"><a href="dashboard">Dash <i class="flaticon-right-thin"></i></a></li>
				}
                        </ul> <!-- /.right-widget --> 


                        <!-- Navigation -->
                        <nav class="navbar navbar-expand-lg" id="mega-menu-holder">
                            <div class="container">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                                  <i class="fa fa-bars" aria-hidden="true"></i>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarResponsive">
                                  <ul class="navbar-nav">
                                      <li class="nav-item">
                                        <a class="nav-link js-scroll-trigger" href="#features">Features</a>
                                      </li>
                                      <!--
                                      <li class="nav-item">
                                        <a class="nav-link js-scroll-trigger" href="#services">Services</a>
                                      </li>
                                      
                                      <li class="nav-item">
                                        <a class="nav-link js-scroll-trigger" href="#apps-review">Apps Review</a>
                                      </li>
                                    -->
                                      <li class="nav-item">
                                        <a class="nav-link js-scroll-trigger" href="#progress">Getting started</a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link js-scroll-trigger" href="mailto:admin at flame.exchange">Contact us</a>
                                      </li>
                                  </ul>
                                </div>
                            </div>
                        </nav>
                    </div> <!-- /.menu-wrapper -->
                </div> <!-- /.container -->
            </header> <!-- /.theme-main-menu -->
            


            <!-- ^^^^^^^^^^^^^^^^^ Theme Banner ^^^^^^^^^^^^^^^ -->
            <div id="theme-banner" class="theme-banner-one">
                <!--<img src="images/home/k.png" alt="" class="illustration">-->
                <img src="https://cdn.flame.exchange/assets/home/images/icon/1.png" alt="" class="icon-shape-one">
                <img src="https://cdn.flame.exchange/assets/home/images/icon/2.png" alt="" class="icon-shape-two">
                <img src="https://cdn.flame.exchange/assets/home/images/icon/3.png" alt="" class="icon-shape-three">
                <!--<div class="round-shape-one"></div>-->
                <div class="round-shape-two"><img src="https://cdn.flame.exchange/assets/home/images/icon/4.png" alt=""></div>
                <!--<div class="round-shape-three"></div>-->
                <div class="container">
                    <div class="main-text-wrapper">
                        <h1>Lets Talk <br>Cryptocurrency! <br> </h1>
                        <p>Flame.Exchange is a cryptocurrency exchange that focuses on privacy, security, low fees & speed! <br> Get your coin listed for FREE! For more infomation, join our <a href="https://discord.gg/xU3Jer6">Discord server</a></p>
                        <ul class="button-group clearfix">
				@if(!loggedIn){
                            <li><a href="signup">Sign Up!</a></li>
                            <li><a class="download-button" href="https://discord.gg/fEYMcvX">Join our Discord server</a></li>
				}
				@if(loggedIn){
				<li><a href="signup">Dashboard</a></li>
				<li><a class="download-button" href="https://discord.gg/fEYMcvX">Join our Discord server</a></li>
				}
                        </ul>
                    </div>
                </div>
		    
                <div class="container">
                    <div class="stock-market-price">
                        <div id="market-rate">
                            <div id="big-tickers"></div>
                    </div>
                </div>
            </div>

        <script id="big-tickers-template" type="text/x-handlebars-template">
            {{#each this}}
        <div class="item">
            <div class="main-wrapper">
                 <div class="amount">{{last}}</div>
                 <h6 class="title">Last price of {{base}}/{{counter}}</h6>
		 <!--
                 <div class="current-info range-down">
                        <i class="glyphicon glyphicon-{{icon}}" style="color: {{color}};">
                 </div>
		 -->
             </div>
        </div>
        {{/each}}
    </script>
        



        <!--
        =====================================================
            Our Feature
        =====================================================
        -->
        <div class="our-features-one" id="features">
            <div class="container">
                <div class="theme-title">
                    <h2>The Cheapest & Best <span>Cryptocurrency exchange</span> <br>for the future</h2>
                </div>
                

                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="single-feature">
                            <div class="icon-box">
                                <img src="https://cdn.flame.exchange/images/icon/5.png" alt="" class="primary-icon">
                            </div>
                            <h3>Untraceable</h3>
                            <p>Offchain transactions within the exchange. This provides cheap fees, and privacy.</p>
                        </div> <!-- /.single-feature -->
                    </div> <!-- /.col- -->
                    <div class="col-md-4 col-xs-12">
                        <div class="single-feature border-fix">
                            <div class="icon-box">
                                <img src="https://cdn.flame.exchange/images/icon/6.png" alt="" class="primary-icon">
                            </div>
                            <h3>We value your Privacy</h3>
                            <p>We dont need any other personal infomation other than your email. We do not share your infomation with anyone!</p>
                        </div> <!-- /.single-feature -->
                    </div> <!-- /.col- -->
                    <div class="col-md-4 col-xs-12">
                        <div class="single-feature">
                            <div class="icon-box">
                                <img src="https://cdn.flame.exchange/images/icon/7.png" alt="" class="primary-icon">
                            </div>
                            <h3>Speed & Stability</h3>
                            <p>In the crypto world, this is valued. We keep that, with almost 100% uptime, and a CDN to provide good speeds around the world.</p>
                        </div> <!-- /.single-feature -->
                    </div> <!-- /.col- -->
                </div> <!-- /.row -->
            </div> <!-- /.container -->
        </div> <!-- /.our-features -->



        <!--
        =====================================================
            Our Feature Two
        =====================================================
        -->
        
        <!--
        =====================================================
            Apps Overview
        =====================================================
        -->
        <!--
        <div class="apps-overview color-one" id="apps-review">
            <div class="overlay-bg" style="background-image:url(images/home/bg2.png);">
                <div class="container">
                    <div class="inner-wrapper">
                        <img src="images/home/s8.png" alt="" class="s8-mockup" data-aos="fade-down" data-aos-duration="2500">
                        <img src="images/home/x.png" alt="" class="x-mockup" data-aos="fade-up" data-aos-duration="2500">
                        <div class="row">
                            <div class="col-lg-5 offset-lg-7">
                                <div class="text">
                                    <h3>don’t miss our apps</h3>
                                    <h2>Mobile Application for Faster Access.</h2>
                                    <h6>Now you can control dashboard from the mobile!</h6>
                                    <p>Mining should be fair & easy! We dose not allow ASIC on our network. The development team is who commited to with keeping it that way.</p>
                                    <ul class="button-group">
                                        <li><a href="#"><i class="flaticon-apple"></i> Apple Store</a></li>
                                        <li><a href="#"><img src="images/icon/playstore.png" alt=""> Google Play</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>  ->
        
        
        <!--
        =====================================================
            Theme Counter
        =====================================================
        -->
        <div class="theme-counter">
            <div class="container">
                <div class="bg-image">
                    <div class="row theme-title">
                        <div class="col-lg-6 order-lg-last">
                            <h2><span>Fast</span> Growing Global Network.</h2>
                        </div>
                        <div class="col-lg-6 order-lg-first">
                            <p>Our crypto community is growing fast and is friendly join us now!</p>
                        </div>
                    </div>

                    <div class="counter-wrapper">
                        <div class="row">
                            <div class="col-sm-4">
                                <h2 class="number"><span class="timer" data-from="0" data-to="720" data-speed="1200" data-refresh-interval="5">0</span>hours +</h2>
                                <p>Hours spent</p>
                            </div>
                            <div class="col-sm-4">
                                <h2 class="number"><span class="timer" data-from="0" data-to="16" data-speed="1200" data-refresh-interval="5">0</span>Y</h2>
                                <p>Years Expereince</p>
                            </div>
                            <div class="col-sm-4">
                                <h2 class="number"><span class="timer" data-from="0" data-to="8" data-speed="1200" data-refresh-interval="5">0</span>coins</h2>
                                <p>Current coins listed</p>
                            </div>
                        </div>
                    </div> <!-- /.counter-wrapper -->
                </div> <!-- /.bg-image -->
            </div> <!-- /.container -->
        </div> <!-- /.theme-counter -->


        <!--
        =====================================================
            Our Work Progress
        =====================================================
        -->
        <div class="our-work-progress bg-color" id="progress">
            <div class="main-wrapper clearfix">
                <div class="section-title-wrapper clearfix">
                    <div class="theme-title">
                        <div class="upper-heading"></div>
                        <h2>Sign up, <span>its easy!</span></h2>
                        <p>You can get started and start trading with just a few clicks! You dont need to provide anything other than your email to start trading!</p>
                    </div>
                </div> <!-- /.section-title-wrapper -->
                <div class="progress-slider-wrapper">
                    <div class="progress-slider">
                        <div class="item">
                            <div class="inner-block">
                                <div class="icon"><img src="https://cdn.flame.exchange/images/icon/11.png" alt=""></div>
                                <h3>Create Account</h3>
                                <p>Click on the link to the left to signup</p>
                                <div class="num">1</div>
                            </div> <!-- /.inner-block -->
                        </div>
                        <div class="item">
                            <div class="inner-block">
                                <div class="icon"><img src="https://cdn.flame.exchange/images/icon/12.png" alt=""></div>
                                <h3>Verify Account</h3>
                                <p>You will receive a confirmation message in your email inbox.</p>
                                <div class="num">2</div>
                            </div> <!-- /.inner-block -->
                        </div>
                        <div class="item">
                            <div class="inner-block">
                                <div class="icon"><img src="https://cdn.flame.exchange/images/icon/13.png" alt=""></div>
                                <h3>Deposit cryptocurrency</h3>
                                <p>Go to the Funds tab and deposit cryptocurrency</p>
                                <div class="num">3</div>
                            </div> <!-- /.inner-block -->
                        </div>
                        <div class="item">
                            <div class="inner-block">
                                <div class="icon"><img src="https://cdn.flame.exchange/images/icon/11.png" alt=""></div>
                                <h3>Start trading!</h3>
                                <p>You can now buy and sell cryptocurrency easily.</p>
                                <div class="num">4</div>
                            </div> <!-- /.inner-block -->
                        </div>
                    </div> <!-- /.progress-slider -->
                </div> <!-- /.progress-slider-wrapper -->
            </div> <!-- /.main-wrapper -->
        </div> <!-- /.our-work-progress -->





        <!--
        =====================================================
            Testimonial Section
        =====================================================
        -->
        <!--
        <div class="testimonial-section">
            <div class="container">
                <div class="theme-title text-center">
                    <div class="upper-heading">Testimonials</div>
                    <h2>Our Users <span>Testimonials</span></h2>
                </div>
                <div class="testimonial-slider">
                    <div class="item">
                        <div class="single-block clearfix">
                            <div class="img-block"><img src="images/home/1.jpg" alt=""></div>
                            <div class="text">
                                <h3 class="name">Rashed Kabir</h3>
                                <span>CEO, Creativegigs</span>
                                <p>“Success is making our clients succeed. Nothing else matters how we work.”</p>
                                <img src="images/home/sign.png" alt="" class="sign">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="single-block clearfix">
                            <div class="img-block"><img src="images/home/2.jpg" alt=""></div>
                            <div class="text">
                                <h3 class="name">Jannatul Fa.</h3>
                                <span>MD. Tourisom Group</span>
                                <p>“Success is making our clients succeed. Nothing else matters how we work.”</p>
                                <img src="images/home/sign.png" alt="" class="sign">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="single-block clearfix">
                            <div class="img-block"><img src="images/home/1.jpg" alt=""></div>
                            <div class="text">
                                <h3 class="name">Rashed Kabir</h3>
                                <span>CEO, Creativegigs</span>
                                <p>“Success is making our clients succeed. Nothing else matters how we work.”</p>
                                <img src="images/home/sign.png" alt="" class="sign">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="single-block clearfix">
                            <div class="img-block"><img src="images/home/2.jpg" alt=""></div>
                            <div class="text">
                                <h3 class="name">Jannatul Fa.</h3>
                                <span>MD. Tourisom Group</span>
                                <p>“Success is making our clients succeed. Nothing else matters how we work.”</p>
                                <img src="images/home/sign.png" alt="" class="sign">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="single-block clearfix">
                            <div class="img-block"><img src="images/home/1.jpg" alt=""></div>
                            <div class="text">
                                <h3 class="name">Rashed Kabir</h3>
                                <span>CEO, Creativegigs</span>
                                <p>“Success is making our clients succeed. Nothing else matters how we work.”</p>
                                <img src="images/home/sign.png" alt="" class="sign">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="single-block clearfix">
                            <div class="img-block"><img src="images/home/2.jpg" alt=""></div>
                            <div class="text">
                                <h3 class="name">Jannatul Fa.</h3>
                                <span>MD. Tourisom Group</span>
                                <p>“Success is making our clients succeed. Nothing else matters how we work.”</p>
                                <img src="images/home/sign.png" alt="" class="sign">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    -->



        <!--
        =====================================================
            Partner Slider
        =====================================================
        -->
        <!--
        <div class="partner-section">
            <div class="container">
                <div class="partner-slider">
                    <div class="item"><a href="#"><img src="images/logo/p-1.png" alt=""></a></div>
                    <div class="item"><a href="#"><img src="images/logo/p-2.png" alt=""></a></div>
                    <div class="item"><a href="#"><img src="images/logo/p-3.png" alt=""></a></div>
                    <div class="item"><a href="#"><img src="images/logo/p-4.png" alt=""></a></div>
                    <div class="item"><a href="#"><img src="images/logo/p-5.png" alt=""></a></div>
                </div>
            </div>
        </div>-->




        <!--
        =====================================================
            Footer 
        =====================================================
        -->
        <footer class="theme-footer">
            <div class="container">
                <div class="inner-wrapper">
                    <div class="top-footer-data-wrapper">
                        <div class="row">
                            <div class="col-lg-4 col-sm-6 footer-logo">
                                <div class="logo"><a href="https://flame.exchange">Flame.Exchange</a></div>
                                <a class="email">admin[at]flame.exchange</a>
                                <!--<a href="#" class="mobile">648-xxx-xxxx</a>-->
                            </div> <!-- /.footer-logo -->
                            <div class="col-lg-2 col-sm-6 footer-list">
                                <h4 class="title">Quick Links</h4>
                                <ul>
                                    <li><a href="https://goo.gl/rtrFoK">What is Bitcoin?</a></li>
                                    <li><a href="https://discord.gg/fEYMcvX">Discord Server</a></li>
                                    <li><a href="https://goo.gl/CqqZ8D">Coin Listing forum</a></li>
                                    <li><a href="https://goo.gl/TzziS1">Report Bug</a></li>
                                    <!--<li><a href="#">Pricing</a></li>-->
                                </ul>
                            </div> <!-- /.footer-list -->
                            <div class="col-lg-2 col-sm-6 footer-list">
                                <h4 class="title">About Us</h4>
                                <ul>
                                    <!--<li><a href="">About AtomicLemon</a></li>-->
                                    <li><a href="https://goo.gl/u7cS78">Jobs</a></li>
                                    <li><a href="https://discord.gg/fEYMcvX">Team</a></li>
                                    <!--<li><a href="#TESTIMONIALS">Testimonials</a></li>-->
                                    <li><a href="https://discord.gg/fEYMcvX">Blog</a></li>
                                </ul>
                            </div> <!-- /.footer-list -->
                            <div class="col-lg-3 col-sm-6 footer-list">
                                <h4 class="title">Donate:</h4>
                                <ul>
                                    <li><a href="flamecoin:F8dGFfMRwcqTYKLrwCZpBF1ykp2vbAZTbL">FLA: F8dGFfMRwcqTYKLrwCZpBF1ykp2vbAZTbL</a></li>
                                    <li><a href="bitcoin:1LemonR7fZvco7Hg36ZNjy2MKKjhRgUwji">BTC: 1LemonR7fZvco7Hg36ZNjy2MKKjhRgUwji</a></li>
                                    <li><a href="litecoin:LTRhb9HVbzkJXj8dCtDvp4QGbjuaYaBWFP">LTC: LTRhb9HVbzkJXj8dCtDvp4QGbjuaYaBWFP</a></li>
                                    <li><a href="#">ETH: 0x17efA11fB25E7DF02bCF8DC8c05582e93F958083</a></li>
                                </ul>
                            </div> <!-- /.footer-list -->
                        </div> <!-- /.row -->
                    </div> <!-- /.top-footer-data-wrapper -->

                    <div class="bottom-footer clearfix">
                        <p class="copyright">&copy; 2018-2019 <a href="#">Flame.Exchange</a> All Right Reserved</p>
                        <ul>
                            <!--
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            -->
                        </ul>
                    </div> <!-- /.bottom-footer -->
                </div>
            </div> <!-- /.container -->
        </footer>

    </div> <!-- /.html-top-content -->


    
    <!-- Scroll Top Button -->
    <button class="scroll-top tran3s color-one-bg">
        <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
    </button>

		<!-- Js File_________________________________ -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    	<!-- jQuery -->
		<script src="https://cdn.flame.exchange/vendor/jquery.2.2.3.min.js"></script>
		<!-- Popper js -->
		<script src="https://cdn.flame.exchange/vendor/popper.js/popper.min.js"></script>
		<!-- Bootstrap JS -->
		<script src="https://cdn.flame.exchange/vendor/bootstrap/js/bootstrap.min.js"></script>

		<!-- Vendor js _________ -->
		<!-- Plugin JavaScript -->
    	<script src="https://cdn.flame.exchange/vendor/jquery-easing/jquery.easing.min.js"></script>
		<!-- Language Stitcher -->
		<script src="https://cdn.flame.exchange/vendor/language-switcher/jquery.polyglot.language.switcher.js"></script>
		<!-- js count to -->
		<script src="https://cdn.flame.exchange/vendor/jquery.appear.js"></script>
		<script src="https://cdn.flame.exchange/vendor/jquery.countTo.js"></script>
		<!-- Fancybox -->
		<script src="https://cdn.flame.exchange/vendor/fancybox/dist/jquery.fancybox.min.js"></script>
		<!-- owl Carousel -->
		<script src="https://cdn.flame.exchange/vendor/owl-carousel/owl.carousel.min.js"></script>
		<!-- AOS js -->
		<script src="https://cdn.flame.exchange/vendor/aos-next/dist/aos.js"></script>



		<!-- Theme js -->
		<script src="https://cdn.flame.exchange/js/theme.js"></script>
}
