@(title: String, icon: String= "", scripts: Html = Html(""), styles: Html = Html(""))(content: Html)(implicit request: RequestHeader, messages: Messages)
@import securesocial.core.UsernamePasswordProvider
@import play.api.Play.current

@navItem(url: String, icon: String, title:String) = {
@if(request.path==url) {
    <li class="active">
    } else {
    <li>
    }
    <a href="@url" title="@title">
        <span class="sidebar-text">
        @if(request.path==url){
            <i class="glyphicon glyphicon-@icon"></i>
            @title
        } else {
            <span class="visible-xs visible-lg">
                <i class="glyphicon glyphicon-@icon"></i>
                @title
            </span>

            <span class="hidden-xs hidden-lg">
                <i class="glyphicon glyphicon-@icon"></i>
            </span>
        }
        </span>
    </a>
</li>
}

@exchangeStyles = {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/jquery.pnotify.default.css")">
}

@exchangeScripts = {
    <script src="@routes.Assets.at("js/vendor/jquery.pnotify.js")"></script>
    <script src="@routes.Assets.at("js/vendor/jquery.qrcode-0.10.1.min.js")"></script>
    <script src="@routes.Assets.at("js/vendor/moment.min.js")"></script>
}

@_global_chrome(title, Html(scripts + exchangeScripts.body), Html(styles + exchangeStyles.body)) {

        @content

}

@styles = {
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Icons -->
  <link href="/assets/assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">
  <link href="/assets/assets/vendor/fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
  <!-- Argon CSS -->
  <link type="text/css" href="/assets/assets/css/argon.css?v=1.0.0" rel="stylesheet">
}
